.Navbar {
  box-shadow: 0px 0px 6px #0000002e;
  height: 3rem;
  padding: 0.5rem 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  max-width: 880px;
  width: 100%;
  display: flex;
  align-items: center;

  ul {
    list-style: none;
    display: flex;
    padding-left: 1rem;
  }
}
