@use "@/styles/variables" as var;

.container {
  display: flex;
  font-weight: 500;
  margin-bottom: 0.5rem;
  transition: 0.2s;

  a {
    margin-left: 0.5rem;

    &:hover {
      color: var.$primary-color;
      border-color: var.$primary-color;
    }
  }

  svg {
    margin: 0 0.5rem;
  }

  @media (max-width: var.$mobile-sm) {
    font-size: 1rem;
  }
}

.heart {
  fill: var.$pink;
  stroke: var.$pink;
  transform-origin: center;
  animation: beat 2s infinite;

  @keyframes beat {
    0%,
    100% {
      transform: scale(1);
    }
    25% {
      transform: scale(1.2);
    }
    50% {
      transform: scale(1);
    }
    75% {
      transform: scale(1.1);
    }
  }
}
