@use "@/styles/variables" as var;

.pokeButton {
  transition: 0.7s;

  position: absolute;
  bottom: calc(((var.$pokeballSize / 2) * -1) - var.$pokeballBorderSize);
  left: calc(50% - (var.$pokeballSize / 2));
  width: var.$pokeballSize;
  height: var.$pokeballSize;

  border-radius: 100%;
  border: 0.8rem black solid;

  background-color: var.$white;
  z-index: 999;

  &[data-is-open="true"] {
    span {
      display: none;
    }
  }
}

.buttonDetail {
  width: 100%;
  height: 100%;
  border-radius: 100%;

  box-shadow: inset 0px 0 16px 2px #00000066;
  border: 0.5rem #00000012 solid;

  display: flex;
  align-items: center;
  justify-content: center;

  span {
    opacity: 0;
    animation: opacityAnimation 20s infinite;
  }
}

@keyframes opacityAnimation {
  from {
    opacity: 0;
  }

  to {
    opacity: 0.8;
  }
}
